<form>
  <div class="form-group row">  
    <label for="fraseInput" class="col-lg-4 col-form-label">¿Querés agregar una frase? Agregala acá ----></label>
    <div class="col-lg-6">
        <input type="text" class="form-control" id="fraseInput">
    </div>
    <div class="col-lg-1">
      <button type="button" class="btn btn-secondary"><i class="fas fa-user"></i></button>
    </div>
    <div class="col-lg-1">
        <button type="button" class="btn btn-success"></button>
    </div>
  </div>
</form>